<form *ngIf="showAddBirthday" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="person">Birthday</label>
        <input type="text" name="person" [(ngModel)]="person" id="person" placeholder="Person" maxlength="64" required>
    </div>
    <div class="form-control">
        <label for="dob">Birthday</label>
        <input type="date" name="dob" [(ngModel)]="dob" id="dob" placeholder="Date of birth">
    </div>
    <div class="form-control">
        <label for="notes">Notes</label>
        <input type="text" name="notes" [(ngModel)]="notes" id="notes" placeholder="Notes" maxlength="128">
    </div>
    <input type="submit" value="Save" class="btn btn-block">
</form>